@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --white: white;
  --black: black;
  --sim-light-gray: #444444;
  --sim-light-green: #caff42;
  --sim-blue: #224870;
}

.roboto {
  font-family: "Roboto", sans-serif;
}

/* Width css */
.max-width-1280px {
  max-width: 1280px;
}
