@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.body p {
  margin-bottom: 0;
}

.body a {
  text-decoration: none;
}

.body ul {
  padding-left: 0;
  margin-bottom: 0;
}

:root {
  --white: white;
  --black: black;
  --sim-light-gray: #444444;
  --sim-light-green: #caff42;
  --sim-blue: #224870;
}

.roboto {
  font-family: "Roboto", sans-serif;
}

/* Width css */
/* .max-width-1280px {
  max-width: 1280px;
} */

/* AI Section */
.ai-sec {
  position: sticky !important;
  top: 0px;
  width: 600px !important;
  height: 100vh;
  overflow-y: auto;
  scroll-behavior: smooth;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.ai-sec::-webkit-scrollbar {
  display: none;
}

.body-right-sec {
  width: calc(100% - 600px);
}

.ai-sec .ai-sub-box {
  width: 100%;
  height: 190vh;
  background-color: var(--white);
  margin: 0;
  overflow: hidden !important;
}

.ai-sec .ai-sub-box .sub-box-top,
.ai-sec .ai-sub-box .sub-box-bottom {
  width: 100%;
  height: 50%;
  padding: 0;
}

.ai-robot-icon-sec {
  padding-top: 100px;
}

.ai-main-heading,
.ai-list-sec ul li,
.ai-first-question {
  font-size: 20px;
  color: var(--black) !important;
}

.ai-main-heading {
  width: 90% !important;
}

.ai-list-sec {
  width: 100% !important;
  margin: 80px 0px 40px 0px;
}

.hero-sec p {
  width: 60%;
  color: var(--white);
}

.ai-first-question {
  margin-bottom: 100px !important;
}

.ai-btns-sec {
  width: 100% !important;
  overflow-x: auto;
  white-space: nowrap;
  scroll-behavior: smooth;
  scrollbar-width: none;
  -ms-overflow-style: none;
  margin-bottom: 24px;
  padding-left: 15px;
}

.ai-btns-sec::-webkit-scrollbar {
  display: none;
}

.ai-btns-sec div {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 700px;
}

.ai-btns-sec button {
  padding: 6px !important;
  margin-right: 20px;
  border-radius: 8px;
  background-color: var(--white);
  border: 1px solid var(--sim-light-gray);
}

.ai-typing-sec {
  padding: 15px;
  background-color: rgba(202, 255, 66, 0.1);
}

.ai-typing-sec input {
  outline: none;
  border: none;
  background-color: transparent;
  font-size: 24px;
}

.ai-typing-sec input::placeholder {
  color: var(--black);
}

.ai-typing-sec div {
  background-color: transparent;
}

.ai-typing-sec div button {
  border: 0px;
  height: 34px;
  width: 34px;
  background-color: transparent;
}

.ai-typing-sec div .ai-send-btn {
  background-color: var(--sim-light-green) !important;
  border-radius: 100px;
  height: 64px;
  width: 64px;
}

.ai-sec-last-line {
  width: 100% !important;
  background-color: var(--black) !important;
  color: var(--white);
  font-size: 30px;
  padding: 0 10px;
}

@media screen and (max-width: 1199px) {
  .body .ai-sec {
    display: none;
  }

  .body .body-right-sec {
    width: 100%;
  }
}

/* Hero Section */

.hero-sec {
  height: auto;
  background-color: var(--black);
}

.hero-main-container {
  width: 100%;
}

.hero-top-btn-sec button,
.hero-bottom-btn-sec button {
  background-color: transparent;
  border: 2px solid var(--white);
  border-radius: 8px;
  width: auto;
}

.hero-top-btn-sec button p {
  font-size: 20px;
  width: auto;
}

.hero-menu-sec {
  margin-bottom: 90px;
}

.hero-menu-sec ul li {
  height: 30px;
}

.hero-menu-sec ul li a {
  color: var(--white);
  font-size: 20px;
  padding: 0 0 2px !important;
}

.hero-menu-sec ul li:hover a {
  border-bottom: 2px solid var(--white);
}

.heading-sec h1 {
  font-size: 56px;
  color: var(--white);
}

.navbar div button {
  border: 2px solid var(--white);
}

.hero-img-sec {
  margin-top: -50px;
}

.hero-bottom-btn-sec button p {
  width: auto;
  font-size: 24px;
}

@media screen and (max-width: 991px) {
  .hero-menu-sec ul {
    margin-top: 20px;
  }
  .hero-menu-sec ul li {
    height: auto !important;
  }
  .hero-menu-sec ul li a {
    padding: 8px 10px !important;
    border: none !important;
  }
  .hero-menu-sec ul li:hover {
    background-color: rgb(19, 19, 19);
  }
}

@media screen and (max-width: 576px) {
  .body .body-right-sec .hero-sec {
    padding: 48px 10px !important;
  }

  .heading-sec h1 {
    font-size: 40px;
  }

  .hero-sec .hero-bottom-btn-sec {
    display: block !important;
  }

  .hero-bottom-btn-sec .hero-ai-pro-btn {
    margin-top: 20px;
  }
}

@media screen and (max-width: 460px) {
  .hero-main-container .hero-top-btn-sec {
    display: block !important;
  }

  .hero-top-btn-sec .hero-top-btn-2 {
    margin-top: 20px !important;
  }
}

/* About Us Section */

.about-main-heading h2 {
  width: 200px !important;
  font-size: 40px;
  color: var(--sim-blue);
  position: relative;
}

.about-main-heading h2::after {
  content: "";
  position: absolute;
  width: 40% !important;
  background-color: var(--sim-light-green);
  height: 4px;
  bottom: -5px;
  right: 20px;
}

.about-para-1 {
  font-size: 20px;
  color: var(--black);
}

.about-sub-heading {
  font-size: 34px;
}

.about-para-2,
.about-para-3 {
  width: 85% !important;
  font-size: 24px;
  color: var(--sim-light-gray);
}

.about-btn {
  background-color: var(--sim-blue);
  color: var(--white);
  font-size: 24px;
  border-radius: 10px;
  border: none;
}

@media screen and (max-width: 576px) {
  .body-right-sec .about-us-sec {
    padding: 48px 10px !important;
  }

  .about-main-heading h2 {
    font-size: 30px;
  }

  .about-main-heading h2::after {
    right: 38px;
    width: 35% !important;
  }

  .about-para-1 {
    font-size: 16px;
  }

  .about-sub-heading {
    font-size: 20px;
  }

  .about-us-sec .about-para-2,
  .about-us-sec .about-para-3 {
    font-size: 16px;
    margin: 0 0 20px !important;
    text-align: center;
    width: 100% !important;
  }

  .about-us-sec .about-btn {
    font-size: 16px;
    padding: 6px 20px !important;
  }
}

/* Projects Section */

.project-sec-main-heading h2 {
  width: 200px !important;
  font-size: 40px;
  color: var(--sim-blue);
  position: relative;
}

.project-sec-main-heading h2::after {
  content: "";
  position: absolute;
  width: 35% !important;
  background-color: var(--sim-light-green);
  height: 4px;
  bottom: 1px;
  right: 28px;
}

.project-sec-line1 {
  font-size: 24px;
  color: var(--black);
}

.project-sec-line2 {
  font-size: 24px;
  color: var(--sim-light-gray);
}

.carousel .carousel-inner {
  width: 80%;
}

.carousel .carousel-left-sec,
.carousel .carousel-right-sec {
  width: 49.5%;
  border: 1px solid var(--black);
  border-radius: 8px;
  padding: 10px;
}

.carousel-img-sec img {
  border-radius: 8px;
  width: 100%;
}

.title-box .title,
.Summary-box .title,
.Industry-box .title,
.Outcome-box .title {
  font-size: 12px;
  color: var(--black);
  width: 35%;
}

.title-box .title-des {
  width: 60%;
  font-size: 12px;
  color: var(--sim-light-gray);
}

.Summary-box .title-des {
  width: 60%;
  font-size: 7px;
  color: var(--sim-light-gray);
}

.Industry-box .title-des,
.Outcome-box .title-des {
  width: 60%;
  font-size: 9px;
  color: var(--sim-light-gray);
}

.carousel-btn {
  font-size: 12px;
  color: var(--white);
  background-color: var(--sim-blue);
  border: none;
  width: 100%;
  border-radius: 8px;
}

.carousel .carousel-left-btn,
.carousel .carousel-right-btn {
  width: auto;
}

.carousel .carousel-left-btn span,
.carousel .carousel-right-btn span {
  height: 30px;
  width: 30px;
  background-color: #caff42;
  border-radius: 50px;
}

.carousel-indicators {
  margin-bottom: -50px !important;
}

.carousel-indicators button {
  height: 20px !important;
  width: 20px !important;
  background-color: var(--sim-blue) !important;
}

@media screen and (max-width: 576px) {
  .body-right-sec .project-sec {
    padding: 48px 10px !important;
  }

  .project-sec-main-heading h2 {
    font-size: 30px !important;
  }

  .project-sec-main-heading h2::after {
    width: 28% !important;
    right: 44px;
  }

  .project-sec-line1,
  .project-sec-line2 {
    font-size: 16px;
  }

  .carousel .carousel-inner {
    width: 86%;
  }

  .carousel .carousel-left-btn span,
  .carousel .carousel-right-btn span {
    height: 24px;
    width: 24px;
  }

  .carousel-indicators button {
    height: 15px !important;
    width: 15px !important;
  }
}

@media screen and (max-width: 490px) {
  .carousel .carousel-inner {
    width: 80%;
  }

  .carousel-content .carousel-left-sec,
  .carousel-content .carousel-right-sec {
    padding: 5px !important;
  }

  .carousel-content div .title-box,
  .carousel-content div .Summary-box,
  .carousel-content div .Industry-box,
  .carousel-content div .Outcome-box {
    display: block !important;
    margin-bottom: 12px !important;
  }

  .title-box .title,
  .Summary-box .title,
  .Industry-box .title,
  .Outcome-box .title {
    width: 100% !important;
  }

  .title-box .title-des,
  .Summary-box .title-des,
  .Industry-box .title-des,
  .Outcome-box .title-des {
    width: 100% !important;
    margin-top: 2px !important;
  }

  .carousel-content div .carousel-btn {
    font-size: 10px;
    padding: 6px 20px !important;
  }

  .carousel-indicators button {
    height: 10px !important;
    width: 10px !important;
  }
}

/* Partners Section */

.partners {
  background-color: rgba(123, 123, 123, 0.06);
}

.partners-main-heading h2 {
  width: 300px !important;
  font-size: 40px;
  color: var(--sim-blue);
  position: relative;
  margin-bottom: 74px;
}

.partners-main-heading h2::after {
  content: "";
  position: absolute;
  width: 35% !important;
  background-color: var(--sim-light-green);
  height: 4px;
  bottom: 1px;
  right: 36px;
}

.partners-wrapper {
  overflow: hidden;
  width: 100%;
}

.partners-img-sec {
  display: flex;
  width: max-content;
  animation: scroll-x 10s linear infinite;
}

@keyframes scroll-x {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

@media screen and (max-width: 576px) {
  .body-right-sec .partners {
    padding: 48px 10px !important;
  }

  .partners-main-heading h2 {
    font-size: 30px;
    margin-bottom: 40px;
  }

  .partners-main-heading h2::after {
    width: 27% !important;
    right: 64px;
  }
}

/* Work Section */

.work-sec-main-heading h2 {
  width: 400px !important;
  font-size: 40px;
  color: var(--sim-blue);
  position: relative;
}

.work-sec-main-heading h2::after {
  content: "";
  position: absolute;
  width: 22% !important;
  background-color: var(--sim-light-green);
  height: 4px;
  bottom: 1px;
  right: 90px;
}

.work-sec-main-para {
  font-size: 20px;
  color: var(--black);
}

.work-step-sec .row .col {
  width: 45%;
}

.work-step-sec .row {
  gap: 30px 0px !important;
}

.work-step-sec .row .col div .work-step-sec-heading {
  font-size: 28px;
  color: var(--black);
}

.work-step-sec-para {
  font-size: 22px;
  color: var(--sim-light-gray);
}

.quality-sec {
  background-color: rgba(202, 255, 66, 0.2);
  border-radius: 10px;
}

.quality-main-heading {
  font-size: 25px;
  color: var(--black);
}

.quality-sub-para {
  font-size: 10px;
  color: var(--sim-light-gray);
}

@media screen and (max-width: 576px) {
  .body-right-sec .work-sec {
    padding: 48px 10px !important;
  }

  .work-sec-main-heading h2 {
    font-size: 30px;
  }

  .work-sec-main-heading h2::after {
    width: 18% !important;
    right: 112px;
  }

  .work-sec-main-para {
    font-size: 16px;
  }

  .work-step-sec-heading {
    font-size: 20px !important;
  }

  .work-step-sec-para {
    font-size: 16px !important;
  }

  .quality-main-heading {
    font-size: 18px;
  }
}

@media screen and (max-width: 432px) {
  .work-sec .quality-sec {
    display: block !important;
  }

  .work-sec .quality-sec-box1,
  .work-sec .quality-sec-box2 {
    margin-bottom: 20px !important;
  }

  .work-step-sec .row {
    display: block !important;
  }

  .work-step-sec .row .col {
    width: 90%;
    margin: 0 auto 30px;
  }
}

/* Footer Section */

.footer {
  background-color: var(--black);
}

.footer-btn button {
  background-color: transparent;
  border: 2px solid var(--white);
  border-radius: 8px;
}

.footer-btn button p {
  color: var(--white);
}

.footer-main-heading p {
  font-size: 34px;
  color: var(--white);
}

.footer-form input {
  color: var(--white);
  outline: none;
}

.footer-form input[type="email"] {
  border: 2px solid var(--white);
  border-radius: 10px;
  background-color: transparent;
  background-image: url("../Assets/Icon\ 13.png");
  background-position: 10px center;
  background-repeat: no-repeat;
  color: var(--white);
}

.footer-form input::placeholder {
  color: var(--white);
}

.footer-form button {
  background-color: var(--sim-light-green);
  color: var(--black);
  font-size: 24px;
  border-radius: 10px;
  border: 2px solid var(--sim-light-green);
  height: 60px;
}

.footer-menu-sec ul li a {
  color: var(--white);
  padding-bottom: 8px;
  font-size: 20px;
}

.footer-menu-sec ul li:hover a {
  border-bottom: 2px solid var(--white);
}

.footer-phone-num p {
  color: var(--white);
  font-size: 20px;
}

.footer-add-email .location,
.coampany-email p {
  color: var(--white);
  font-size: 20px;
}

@media screen and (max-width: 600px) {
  .footer-menu-sec ul {
    display: block !important;
  }

  .footer-menu-sec ul li {
    margin-bottom: 10px;
    padding: 10px;
  }

  .footer-menu-sec ul li:hover {
    background-color: rgb(19, 19, 19);
  }

  .footer-menu-sec ul li a {
    border: none !important;
  }
}

@media screen and (max-width: 576px) {
  .body-right-sec .footer {
    padding: 48px 10px !important;
  }

  .footer-main-heading p {
    font-size: 20px;
  }

  .footer-form input {
    padding: 10px 10px 10px 40px !important;
  }

  .footer-form button {
    height: auto;
    font-size: 16px;
    padding: 10px 10px !important;
  }

  .footer-phone-num p {
    font-size: 16px !important;
  }

  .footer-contect-sec .footer-add-email {
    display: block !important;
  }

  .footer-add-email .location,
  .footer-add-email .coampany-email {
    width: 100% !important;
  }

  .footer-add-email .location p,
  .footer-add-email .coampany-email p {
    font-size: 16px;
  }

  .footer-add-email .coampany-email {
    margin-top: 24px;
  }
}

@media screen and (max-width: 400px) {
  .footer .footer-form {
    display: block !important;
  }

  .footer-form input,
  .footer-form button {
    width: 100%;
  }

  .footer-form button {
    margin-top: 20px;
    padding: 10px 0 !important;
  }
}
