@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.body p {
  margin-bottom: 0;
}

.body a {
  text-decoration: none;
}

.body ul {
  padding-left: 0;
  margin-bottom: 0;
}

:root {
  --white: white;
  --black: black;
  --sim-light-gray: #444444;
  --sim-light-green: #caff42;
  --sim-blue: #224870;
}

.roboto {
  font-family: "Roboto", sans-serif;
}

/* Width css */
.max-width-1280px {
  max-width: 1280px;
}

/* AI Section */
.ai-sec {
  position: fixed !important;
  top: 0px;
  left: 50%;
  overflow: hidden !important;
  width: 640px !important;
  transform: translate(-100%, -0%);
}

.ai-sec div {
  width: 100%;
  background-color: var(--white);
}

.ai-robot-icon-sec {
  padding-top: 100px;
}

.ai-main-heading,
.ai-list-sec ul li,
.ai-first-question {
  font-size: 20px;
  color: var(--black) !important;
}

.ai-main-heading {
  width: 90% !important;
}

.ai-list-sec {
  width: 100% !important;
  margin: 80px 0px 40px 0px;
}

.hero-sec p {
  width: 60%;
  color: var(--white);
}

.ai-first-question {
  margin-bottom: 100px !important;
}

.ai-btns-sec {
  width: 100% !important;
  overflow-x: auto;
  white-space: nowrap;
  scroll-behavior: smooth;
  scrollbar-width: none;
  -ms-overflow-style: none;
  margin-bottom: 24px;
  padding-left: 15px;
}

.ai-btns-sec::-webkit-scrollbar {
  display: none;
}

.ai-btns-sec div {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 700px;
}

.ai-btns-sec button {
  padding: 6px !important;
  margin-right: 20px;
  border-radius: 8px;
  background-color: var(--white);
  border: 1px solid var(--sim-light-gray);
}

.ai-typing-sec {
  padding: 15px;
  background-color: rgba(202, 255, 66, 0.1);
}

.ai-typing-sec input {
  outline: none;
  border: none;
  background-color: transparent;
  font-size: 24px;
}

.ai-typing-sec input::placeholder {
  color: var(--black);
}

.ai-typing-sec div {
  background-color: transparent;
}

.ai-typing-sec div button {
  border: 0px;
  height: 34px;
  width: 34px;
  background-color: transparent;
}

.ai-typing-sec div .ai-send-btn {
  background-color: var(--sim-light-green) !important;
  border-radius: 100px;
  height: 64px;
  width: 64px;
}

.ai-sec-last-line {
  width: 100% !important;
  background-color: var(--black) !important;
  color: var(--white);
  font-size: 30px;
  padding: 0 10px;
}

/* Hero Section */

.hero-sec {
  height: auto;
  background-color: var(--black);
}

.hero-main-container {
  width: 100%;
}

.hero-top-btn-sec button,
.hero-bottom-btn-sec button {
  background-color: transparent;
  border: 2px solid var(--white);
  border-radius: 8px;
  width: auto;
}

.hero-top-btn-sec button p {
  font-size: 20px;
  width: auto;
}

.hero-menu-sec {
  margin-bottom: 90px;
}

.hero-menu-sec ul li a {
  color: var(--white);
  font-size: 20px;
  padding-bottom: 8px;
}

.hero-menu-sec ul li a:hover {
  border-bottom: 2px solid var(--white);
}

.heading-sec h1 {
  font-size: 56px;
  color: var(--white);
}

.hero-img-sec {
  margin-top: -50px;
}

.hero-bottom-btn-sec button p {
  width: auto;
  font-size: 24px;
}

/* About Us Section */

.about-main-heading h2 {
  width: 200px !important;
  font-size: 40px;
  color: var(--sim-blue);
  position: relative;
}

.about-main-heading h2::after {
  content: "";
  position: absolute;
  width: 40% !important;
  background-color: var(--sim-light-green);
  height: 4px;
  bottom: -5px;
  right: 20px;
}

.about-para-1 {
  font-size: 20px;
  color: var(--black);
}

.about-sub-heading {
  font-size: 34px;
}

.about-para-2,
.about-para-3 {
  width: 85% !important;
  font-size: 24px;
  color: var(--sim-light-gray);
}

.about-btn {
  background-color: var(--sim-blue);
  color: var(--white);
  font-size: 24px;
  border-radius: 10px;
  border: none;
}

/* Partners Section */

.partners {
  background-color: rgba(123, 123, 123, 0.06);
}

.partners-main-heading h2 {
  width: 300px !important;
  font-size: 40px;
  color: var(--sim-blue);
  position: relative;
  margin-bottom: 74px;
}

.partners-main-heading h2::after {
  content: "";
  position: absolute;
  width: 35% !important;
  background-color: var(--sim-light-green);
  height: 4px;
  bottom: 1px;
  right: 36px;
}

/* Work Section */

.work-sec-main-heading h2 {
  width: 400px !important;
  font-size: 40px;
  color: var(--sim-blue);
  position: relative;
}

.work-sec-main-heading h2::after {
  content: "";
  position: absolute;
  width: 22% !important;
  background-color: var(--sim-light-green);
  height: 4px;
  bottom: 1px;
  right: 90px;
}

.work-sec-main-para {
  font-size: 20px;
  color: var(--black);
}

.work-step-sec .row .col {
  width: 45%;
}

.work-step-sec .row {
  gap: 30px 0px !important;
}

.work-step-sec .row .col div .work-step-sec-heading {
  font-size: 28px;
  color: var(--black);
}

.work-step-sec-para {
  font-size: 22px;
  color: var(--sim-light-gray);
}

.quality-sec {
  background-color: rgba(202, 255, 66, 0.2);
}

.quality-main-heading {
  font-size: 25px;
  color: var(--black);
}

.quality-sub-para {
  font-size: 10px;
  color: var(--sim-light-gray);
}
